html, body {
  height: 100%;
}

body, .app {
  background: white;
}

.cursor-pointer {
  cursor: pointer
}

.categories-names-list {
  list-style-type: none;
  margin: 0px;
  width: 200px;
  height: 100vh;
  background: #2e7c31;
}

.category-name {
  padding-top: 10px;
  color: white;
}